#!/usr/bin/env bash

# Team Shared direnv.
# See: https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.3

# User local additions.
source_env_if_exists .envrc.local

use rtx
layout ruby

##
# Find macos keychain path
###
find_keychain() {
  if has security; then
    security list-keychains | grep "$1" | tr -d '"' | tr -d ' '
  fi
}

# Load rtx or asdf
if has rtx && has use_rtx; then
  use rtx
elif has asdf && has use_asdf; then
  log_status "rtx not found. Falling back to asdf."
  use asdf
else
  log_error "Neither rtx nor asdf are installed or integrated with direnv."
  log_error "For asdf: https://asdf-vm.com/"
  log_error "For rtx (asdf clone in rust): https://github.com/jdxcode/rtx"
fi

# Create `bundle exec` aliases
layout ruby

## Fastlane
export FASTLANE_USERNAME=${FASTLANE_USERNAME:-}
export FASTLANE_PASSWORD=${FASTLANE_PASSWORD:-}
export FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=${FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD:-}
export FASTLANE_TEAM_ID=${FASTLANE_TEAM_ID:-}

## Keychain
export KEYCHAIN_NAME=${KEYCHAIN_NAME:-ccu.keychain}
export KEYCHAIN_PASSWORD=${KEYCHAIN_PASSWORD:-}
export KEYCHAIN_PATH=${KEYCHAIN_PATH:-$(find_keychain "$KEYCHAIN_NAME")}

## Match
export MATCH_PASSWORD=${MATCH_PASSWORD:-}

## Produce
export PRODUCE_COMPANY_NAME=${PRODUCE_COMPANY_NAME:-"Crisis Cleanup, LLC"}

## App Store Connect
export APP_STORE_CONNECT_API_KEY_KEY_ID=${APP_STORE_CONNECT_API_KEY_KEY_ID:-}
export APP_STORE_CONNECT_API_KEY_ISSUER_ID=${APP_STORE_CONNECT_API_KEY_ISSUER_ID:-}
export APP_STORE_CONNECT_API_KEY_KEY=${APP_STORE_CONNECT_API_KEY_KEY:-}
export APP_STORE_CONNECT_API_KEY_DURATION=${APP_STORE_CONNECT_API_KEY_DURATION:-1200}
export APP_STORE_CONNECT_API_KEY_IN_HOUSE=${APP_STORE_CONNECT_API_KEY_IN_HOUSE:-false}

