<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.crisiscleanup.refresh</string>
		<string>com.crisiscleanup.upload_worksite_changes</string>
		<string>com.crisiscleanup.upload_worksite_media</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/NunitoSans_10pt-Regular</string>
		<string>Fonts/NunitoSans_10pt-Italic</string>
		<string>Fonts/NunitoSans_10pt-Bold</string>
		<string>Fonts/NunitoSans_10pt-Light</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>apiBaseUrl</key>
	<string>$(API_BASE_URL)</string>
	<key>appSupportApiBaseUrl</key>
	<string>$(APP_SUPPORT_API_BASE_URL)</string>
	<key>baseUrl</key>
	<string>$(BASE_URL)</string>
	<key>debugAccountPassword</key>
	<string>$(DEBUG_ACCOUNT_PASSWORD)</string>
	<key>debugEmailAddress</key>
	<string>$(DEBUG_EMAIL_ADDRESS)</string>
	<key>gettingStartedVideoUrl</key>
	<string>$(GETTING_STARTED_VIDEO_URL)</string>
	<key>googleMapsApiKey</key>
	<string>$(MAPS_API_KEY)</string>
	<key>isDebuggable</key>
	<string>$(IS_DEBUGGABLE)</string>
	<key>isProduction</key>
	<string>$(IS_PRODUCTION)</string>
	<key>reachabilityHost</key>
	<string>$(API_HOST)</string>
</dict>
</plist>
